.main {
  background-color: rgb(226, 231, 236);
  margin: 5px 180px;
  border-radius: 2px;
}

// .Logout {
//   display: flex;
//   flex-direction: column-reverse;
//   align-self: flex-end;
//   align-items: flex-end;
//   flex-wrap: wrap;
//   font-size: 3.5em;
//   color: white;
//   border-radius: 4px;
//   width: 90%;
//   height: 19%;
//   position:absolute;
// }

.Logout {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 3.5em;
  color: white;
  border-radius: 4px;
  width: 87%;
  height: 18%;
}

button {
  background-color: rgb(1, 19, 39);
  font-size: medium;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 6px;
  border: none;
  min-height: 27px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:rgb(1, 2, 14);
  background-color: rgb(130, 228, 223);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  }


